:root{
  --white: 255, 255, 255; //#FFF
  .default{
    --neutral-100: 44, 44, 44; //#2C2C2C
    --neutral-90: 53, 53, 53; //#353535
    --neutral-80: 61, 61, 61; //#3D3D3D
    --neutral-10: 219, 219, 219;//#DBDBDB
    --primary: 135, 118, 213; //#8776D5
  }
}